<html>
    <head>
        <title>Todo List</title>
        <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />

    </head>
    <body>
        <h1>My Todo list</h1>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="add new item .." required/>
                <button type="submit">Add items</button>
            </form>
            <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
            </ul>
        </div>
    </body>
</html>